@font-face {
    font-family: "noodle";
    src: url(../fonts/big_noodle_titling.ttf);
}
body {
    margin: 0;
    font-family: Arial;
}
.header {
    margin-top: 20px;
}
.container {
    width: 85%;
    margin: 0 auto;
}
.header__top {
    background-color: white;
    color: black;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.header__left {
    display: flex;
    width: 30%;
}
.header__svg {
    stroke: #f26840;
    fill: #f26840;
    width: 100%;
}
.header__icon {
    width: 50px;
    text-align: right;
}
.header__name {
    font-family: "noodle";
    font-size: 40px;
    font-weight: 600;
    text-align: left;
    color: #696969;
    padding-bottom: 55px;
}
.header__menu {
    width: 40px;
    stroke: #696969;
    fill: #696969;
}
.svg {
    width: 100%;
}
.header__bottom {
    height: 100vh;
    background-color: #353535;
    color: white;
    text-align: center;
}
.bottom__top {
    font-size: 72px;
    font-family: "noodle";
    padding-top: 200px;
    padding-bottom: 20px;
}
.bottom__text {
    font-size: 36px;
    font-family: "noodle";
}
.bottom__svg {
    width: 100%;
    stroke: white;
    fill: white;
}
.bottom__icon {
    width: 50px;
    padding-top: 170px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.about {
    text-align: center;
    padding: 0 0 120px 0;
    color: #696969;
}
.section__header {
    font-size: 48px;
    font-family: "noodle";
    color: #4d4140;
    margin: 95px 0 0 0;
    position: relative;
    text-align: center;
}
.section__header:after {
    content: "" ;
    display: block;
    width: 10vw;
    height: 2px;
    position: absolute;
    background-color: #f4511e;
    margin: 0 auto;
    margin-left: 37vw;
    margin-top: 5px;
}
.section__top {
    font-size: 14px;
    padding: 25px 0 60px 0;
}
.about__cover {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about__item {
    background-color: #ebebeb;
    width: 20%;
    height: auto;
    text-align: center;
    padding: 25px 50px;
    margin: 10px;
}
.about__icon {
    width: 45px;
    fill: #f4511e;
    stroke: #f4511e;
    margin: 0 auto;
}
.about__name {
    padding: 25px 0 20px 0;
}
.about__name {
    font-weight: 700;
    font-size: 18px;
}
.about__text {
    font-size: 14px;
}
.movie {
    display: flex;
    
    height: auto;
}
.left {
    background-color: #171f23;
    width: 50%;
    color: white;
    padding: 130px 110px 100px 110px;
    text-align: center;
}
.right {
    width: 70%;
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba($color: #171f23, $alpha: 0.4)
}
.movie__header {
    font-size: 30px;
    font-weight: 700;
}
.movie__text {
    font-size: 14px;
    padding: 30px 0 45px 0;
    font-size: 14px;
}
.movie__button {
    background-color: #e84c3d;
    padding: 5px 15px;
    color: white;
    outline: none;
    border: transparent;
}
.movie__icon {
    width: 150px;
    fill: white;
    stroke: white;
    margin: auto;
    margin-top: 150px;
}
.works {
    text-align: center;
}
.works__top {
    text-align: center;
    font-size: 14px;
    padding: 30px 0 85px 0;
}
.works__menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 25px;
}
.works__item {
    font-size: 14px;
    padding: 0 15px;
    position: relative;
}
.works__img {
    margin-right: 10px;
}
.works__item:hover {
    font-weight: 700;
}
.works__item:after {
    content: "";
    width: 71%;
    height: 1px;
    position: absolute;
    display: block;
    background-color: transparent;
}
.works__item:hover {
    &:after {
        background-color: #f4511e;
    }
}
.works__background {
    width: 100%;
    height: 300px;
    background-color: #e84c3d;
}
.works__bottom {
    width: 100%;
    height: auto;
    background-color: #1c1c1c;
    padding: 60px 0;
    color: white;
    font-size: 33px;
    display: flex;
    justify-content: space-between;
}
.works__icon {
    width: 40px;
    fill: white;
    stroke: #ffffff;
}
.works__cover {
    display: flex;
}
.team {
    text-align: center;
    padding-bottom: 105px;
}
.team__cover {
    display: flex;
    flex-wrap: wrap;
    margin-left: 55px;
}
.team__person {
    width: 24vw;
    height: auto;
    margin-right: 30px;
    background-color: #ebebeb;
}
.team__img {
    height: 130px;
    border-radius: 50%;
    background-color: #f26c4f;
    margin: 70px 95px 30px 95px;
}
.team__skills {
    width: 43vw;
    height: auto;
    text-align: left;
    padding: 125px 65px 90px 65px;
    font-size: 14px;
    background-color: #ebebeb;
}
.team__name {
    font-size: 20px;
    font-weight: 700;
}
.team__position {
    font-size: 14px;
}
.social__media {
    display: flex;
    margin: 0 auto;
    height: auto;
    width: 40%;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
}
.media__item {
    width: 20%;
    margin: 0 auto;
    fill: #696969;
    stroke: #696969;
}
.dots {
    width: 50px;
    margin: 0 auto;
    fill: #696969;
    stroke: #696969;
}
.skills__top {
    font-size: 24px;
    font-weight: 700;
}
.skills__text {
    margin: 30px 0 25px 0;
}
.skills__item {
    font-weight: 700;
    width: 20%;
}
.skills__cover {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.skills__number {
    font-weight: 600;
    width: 5%;
}
.skills__line1 {
    position: relative;
    height: 3px;
    width: 70%;
    margin-top: 6px;
    background-color: white;
}
.skills__line1::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 88%;
    background-color: #f4511e;
}
.skills__line2 {
    position: relative;
    height: 3px;
    width: 70%;
    margin-top: 6px;
    background-color: white;
}
.skills__line2::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 92%;
    background-color: #f4511e;
}
.skills__line3 {
    position: relative;
    height: 3px;
    width: 70%;
    margin-top: 6px;
    background-color: white;
    box-sizing: border-box;
}
.skills__line3::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 90%;
    background-color: #f4511e;
}
.skills__line4 {
    position: relative;
    height: 3px;
    width: 70%;
    margin-top: 6px;
    background-color: white;
    box-sizing: border-box;
}
.skills__line4::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 98%;
    background-color: #f4511e;
}
.features {
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #171f23;
    color: white;
}
.features__header {
    font-size: 36px;
    padding: 60px 0 20px 0;
}
.features__header::after {
    content: "";
    width: 12%;
    height: 2px;
    background-color: #404040;
    position: absolute;
    display: block;
    margin-left: 37%;
    margin-bottom: 55px;
    margin-top: 15px;
}
.features__cover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.features__item {
    width: 20vw;
}
.features__icon {
    fill: #f26c4f;
    stroke: #f26c4f;
    width: 55px;
    margin: 0 auto;
    padding: 45px 0 35px 0;
}
.features__name {
    font-size: 18px;
}
.features__numbers {
    font-size: 48px;
    padding: 30px 0 70px 0;
}
.blog {
    text-align: center;
}
.blog__cover {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog__item {
    width: 25vw;
    height: auto;
    background-color: #ebebeb;
    position: relative;
    margin-bottom: 100px;
    padding: 0 0 25px 0;
}
.post__img {
    background-color: #787474;
    width: 100%;
    height: 200px;
}
.blog__item:hover .post__img {
    background-image: url(../img/img2.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
}
.post__buttons {
    position: absolute;
    width: 25%;
    margin-top: -120px;
    margin-left: 37%;
    display: flex;
    justify-content: space-between;
}
.post__icon {
    width: 30px;
    height: 30px;
    fill: #e84c3d;
    stroke: #e84c3d;
    border-radius: 50%;
    border: 2px solid #e84c3d;
    padding: 5px;
    display: none;
    box-sizing: border-box;
}
.blog__item:hover .post__icon {
    display: block;
}
.post__top {
    padding: 40px 0 30px 0;
    font-size: 18px;
    color: #5e5251;
}
.post__text {
    color: #5e5251;
    font-size: 14px;
    text-align: left;
    padding: 0 25px;
}
.post__bottom {
    padding: 30px 25px 0 25px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
.bottom__left {
    display: flex;
}
.bottom__right {
    display: flex;
}
.comment__svg {
    width: 15px;
    fill: #5e5251;
    stroke: #5e5251;
    margin: 0 8px;
}
.bottom__comment {
    display: flex;
}
.bottom__like {
    display: flex;
}
.icon__number {
    padding-top: 3px;
}
.plans {
    width: 100%;
    background-color: #171f23;
    color: white;
    height: auto;
    padding: 55px 0 95px 0;
    text-align: center;
}
.plans__header {
    font-size: 36px;
    position: relative;
    margin-bottom: 20px;
}
.plans__header::after {
    content: "";
    width: 15%;
    height: 2px;
    background-color: #404040;
    position: absolute;
    display: block;
    margin-left: 43%;
    margin-bottom: 55px;
    margin-top: 15px;
}
.plans__cover {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.plans__item {
    width: 20vw;
    height: auto;
    margin: 55px 5px 0 5px;
}
.plan__conditions {
    display: flex;
    justify-content: center;
}
.plans__item:hover {
    border: 2px solid #f6744b;
}
.plans__item:hover .conditions__numbers {
    color: #f6744b;
}
.item__top {
    background-color: #0e1316;
    padding: 40px 0 40px 0;
}
.plan__name {
    font-size: 15px;
}
.plan__price {
    font-size: 36px;
}
.item__bottom {
    background-color: #1f282c;
    padding: 25px 0 45px 0;
    font-size: 14px;
}
.conditions__numbers {
    padding: 0 5px;
}
.plan__conditions {
    padding-top: 25px;
}
.purchase {
    font-size: 14px;
    background-color: #f6744b;
    color: white;
    padding: 5px 15px;
    margin: 75px 0 45px 0;
    border: none;
}
.column {
    text-align: left;
}
.label {
    font-size: 14px;
    color: #696969;
    font-weight: 600;
}
.red {
    color: #f3724d;
    font-weight: 700;
}
.input__top {
    width: 40.5vw;
    margin: 45px 0;
    border: transparent;
    border-bottom: 1px solid #696969;
}
.contact__cover {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.input__bottom {
    width: 83vw;
    margin: 45px 0;
    border: transparent;
    border-bottom: 1px solid #696969;
}
.send__message {
    width: 18%;
    font-size: 14px;
    padding: 10px 15px;
    color: white;
    background-color: #f6744b;
    border: none;
    margin: 60px 0 80px 0;
}
.contact {
    text-align: center;
}
.contact__bottom {
    width: 100%;
    text-align: left;
}
.footer__top {
    width: 100%;
    height: auto;
    background-color: #0c1215;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
}
.footer__header {
    width: 200px;
    font-size: 24px;
}
.footer__menu {
    width: 20px;
    fill: #f3724d;
    stroke: #f3724d;
    padding: 5px 15px;
}
.footer__bottom {
    background-color: #171f23;
    width: 100%;
    height: auto;
    color: white;
    font-family: "noodle";
    text-align: center;
    padding: 50px 0 60px 0;
}
.footer__logo {
    width: 35px;
    fill: #f6744b;
    stroke: #f6744b;
    margin: 0 auto;
}
.footer__name {
    font-size: 24px;
}
.footer__text {
    font-size: 14px;
}
.footer__media {
    display: flex;
    justify-content: center;
}
.footer__item {
    width: 15px;
    fill: white;
    stroke: white;
    margin: 15px 10px 0 10px;
}
@media (max-width: 1125px) {
    .team__person {
        width: 40%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .team__skills {
        width: 100%;
        margin: 0 auto;
    }
    .right {
        width: 100%;
    }
    .plans__item {
        width: 34%;
        flex-wrap: wrap;
    }
    .team__cover {
        margin-left: 0;
    }
}
@media (max-width: 790px) {
    .header__bottom {
        height: 110vh;
    }
    .about__item {
        width: 30%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .right {
        width: 100%;
        padding-bottom: 175px;
    }
    .left {
        width: 100%;
    }
    .works__item {
        padding-bottom: 20px;
    }
    .works__bottom {
        font-size: 25px;
        flex-wrap: wrap;
    }
    .social__media {
        width: 50%;
        text-align: center;
    }
    .features__item {
        width: 40%;
    }
    .works__name {
        padding-top: 15px;
    
    }
    .team__person {
        width: 44vw;
        height: auto;
        margin: 0 auto;
        /* margin-right: 30px; */
        margin-bottom: 20px;
    }
    .features__item {
        margin: 0 5px;
    }
    .blog__item {
        width: 40vw;
        height: auto;
        margin-bottom: 35px;
    }
    .team__skills {
        margin: 0 auto;
    }
    .plans__item {
        width: 39vw;
    }    
}
@media (max-width: 1000px) {
    .movie {
        flex-wrap: wrap;
    }
    .right {
        width: 100%;
    }
    .left {
        width: 100%;
    }
    .movie__icon {
        margin-bottom: 150px;
    }
}
@media (max-width: 700px) {
    .header__left {
        width: 50%;
    }
    .movie__icon {
        margin-bottom: 40px;
    }
}
@media (max-width: 640px) {
    .right {
        padding-bottom: 90px;
    }
    .works__img {
        padding-left: 15px;
    }
    .works__bottom {
        justify-content: center;
    }
    .team__img {
        margin: 70px 70px 30px 70px;
    }
    .team__skills {
        padding: 125px 30px 90px 30px;
    }
    .skills__item {
        font-size: 10px;
    }
    .skills__line1 {
        width: 45%;
    }
    .skills__line2 {
        width: 45%;
    }
    .skills__line3 {
        width: 45%;
    }
    .skills__line4 {
        width: 45%;
    }
    .send__message {
        width: 35%;
    }
}
@media (max-width: 500px) {
    .header__left {
        width: 75%;
    }
    .header__bottom {
        height: 120vh;
    }
    .right {
        padding-bottom: 130px;
    }
    .about__cover {
        justify-content: center;
    }
    .movie__icon {
        width: 85px;
        margin-top: 101px;
    }
    .works__bottom {
        flex-wrap: wrap;
        justify-content: center;
    }
    .works__cover {
        margin: 0 10px;
    }
    .team__img {
        margin: 70px 50px 30px 50px;
    }
    .social__media {
        width: 34%;
    }
    .skills__line1 {
        width: 25%;
    }
    .skills__line2 {
        width: 25%;
    }
    .skills__line3 {
        width: 25%;
    }
    .skills__line4 {
        width: 25%;
    }
    .features__item {
        width: 26vw;
    }
    .blog__item:hover .post__img {
        background-size: 150%;
    }
    .post__icon {
        padding: 0;
    }
    .blog__cover {
        justify-content: center;
    }
    .blog__item {
        margin: 0 3px 15px 3px;
        width: 39vw;
    }
    .plans__item {
        width: 38vw;
    }
    .send__message {
        width: 30%;
    }   
}
@media (max-width: 440px) {
    .header__bottom {
        height: 126vh;
    }
    .left {
        padding: 130px 40px 100px 40px;
    }
    .right {
        padding-bottom: 70px;
    }
    .movie__icon {
        width: 55px;
    }
    .works__img {
        margin-top: 15px;
    }
    .works__icon {
        margin-top: 15px;
    }
    .team__person {
        width: 65vw;
    }
    .team__skills {
        width: 70vw;
    }
    .features__item {
        width: 70vw;
    }
    .blog__item {
        width: 66vw;
    }
    .plans__item {
        width: 65vw;
    }
    .send__message {
        width: 50%;
    }
}